In [94]:
import pandas as pd
import numpy as np

from scipy.sparse import lil_matrix
from scipy.sparse.linalg import svds

A = lil_matrix((671, 163949))

array([[-1.05902681e-03, -4.61516370e-03,  3.05587127e-03, ...,
         1.46042991e-03, -8.20929354e-05, -1.52840551e-03],
       [-2.68464036e-04,  8.15304194e-04, -1.14500468e-03, ...,
         4.26048518e-04,  3.02216671e-03,  4.43334892e-03]])

In [8]:
ratings = pd.read_csv('movies/ratings_small.csv')
ratings.describe()

              userId        movieId         rating     timestamp
count  100004.000000  100004.000000  100004.000000  1.000040e+05
mean      347.011310   12548.664363       3.543608  1.129639e+09
std       195.163838   26369.198969       1.058064  1.916858e+08
min         1.000000       1.000000       0.500000  7.896520e+08
25%       182.000000    1028.000000       3.000000  9.658478e+08
50%       367.000000    2406.500000       4.000000  1.110422e+09
75%       520.000000    5418.000000       4.000000  1.296192e+09
max       671.000000  163949.000000       5.000000  1.476641e+09

In [95]:
for i in range(len(ratings)):
    rate = ratings.iloc[i]
    uid = int(rate['userId'] + 0.1)
    mid = int(rate['movieId'] + 0.1)
    rating = rate['rating']
    A[uid-1,mid-1] = rating - 3.5

In [96]:
u, s, vt = svds(A, k=100) # k is the number of factors

In [97]:
u.shape

(671, 100)

In [98]:
udf = pd.DataFrame(u)
udf['id'] = udf.index + 1
cols = list(udf.columns)
cols.pop()
cols = ['id'] + cols
udf = udf[cols]
udf.head()

,id,0,1,2,3,4,5,6,7,8,...,90,91,92,93,94,95,96,97,98,99
0,1,0.004712,0.004862,-0.015658,0.001494,-0.003959,0.006254,-0.014778,0.001658,-0.007045,...,-0.005342,-0.004355,0.003241,0.001706,0.007091,0.002231,0.001950,-0.000058,-0.004020,0.000016
1,2,0.007583,0.025956,-0.015044,-0.007088,-0.011900,0.005001,0.013352,-0.022785,-0.013330,...,0.001158,-0.003500,0.002218,-0.000710,0.006776,-0.002050,0.002129,-0.000802,0.002676,0.004889
2,3,0.011427,0.030016,-0.005714,-0.012151,-0.001169,0.010454,-0.007446,-0.000286,-0.013129,...,0.009264,-0.011604,-0.009584,0.001751,0.009025,0.000340,0.003337,-0.000922,0.005371,0.005897
3,4,-0.047258,0.106241,0.052542,-0.114465,-0.001938,-0.034722,-0.068832,0.012097,0.016792,...,0.016845,-0.003339,-0.011576,-0.039852,-0.026975,-0.048160,-0.012332,-0.040234,0.080198,0.050265
4,5,-0.022226,-0.000368,-0.021844,-0.033988,-0.001879,0.026158,0.010114,-0.005427,0.019790,...,0.011586,-0.011156,0.022010,0.000998,-0.014293,-0.008513,0.000993,-0.004186,0.017635,-0.006453

In [105]:
udf.to_csv('uvecs1.csv', header=None, index=False)

,id,0,1,2,3,4,5,6,7,8,...,90,91,92,93,94,95,96,97,98,99
0,1,0.001264,0.007622,-0.001134,0.008239,-0.007073,0.000222,-0.000612,-0.004132,-0.001688,...,0.001445,0.005213,-0.002142,-0.002636,-0.003064,0.001370,0.004324,0.001498,-0.003905,0.002085
1,2,-0.001677,0.015319,-0.028760,-0.034009,0.022576,-0.018433,-0.018709,-0.027882,0.013852,...,-0.011344,0.018601,0.010351,-0.009192,-0.006374,-0.059460,-0.044323,-0.066360,-0.006514,0.018307
2,3,-0.027253,-0.007339,0.017613,-0.001014,-0.004170,0.000985,-0.006062,-0.006379,0.015427,...,-0.003566,-0.023655,0.015640,0.006199,-0.000130,0.006093,-0.023809,-0.011236,0.013262,0.015091
3,4,-0.166583,0.001816,-0.095670,-0.022229,0.061795,0.016521,-0.123355,0.166994,0.010980,...,0.082952,0.055397,0.008054,-0.069232,-0.031255,0.078931,0.060100,-0.043882,-0.035303,0.054238
4,5,0.002705,0.014492,-0.014289,-0.005309,-0.033668,-0.033502,-0.001017,-0.020581,-0.016384,...,-0.029334,0.027145,0.038539,0.037427,0.064185,-0.008363,0.007305,-0.012214,0.016869,0.026506

In [99]:
v = vt.transpose()
mdf = pd.DataFrame(v)
mdf['id'] = mdf.index + 1
cols = list(mdf.columns)
cols.pop()
cols = ['id'] + cols
mdf = mdf[cols]
mdf.head()

,id,0,1,2,3,4,5,6,7,8,...,90,91,92,93,94,95,96,97,98,99
0,1,-0.020893,0.024416,-0.022099,0.018031,0.014006,-0.027218,-0.068418,-0.037007,-0.053741,...,-0.007035,0.006892,0.024483,0.028763,-0.040333,-0.000935,0.024276,-0.046394,0.088838,0.034439
1,2,-0.014548,-0.016984,-0.020869,0.002544,0.001458,0.000933,-0.030708,-0.053241,0.010886,...,0.015684,-0.004454,0.022690,0.007633,-0.020381,-0.016480,-0.006335,-0.002146,0.031034,-0.026076
2,3,0.001918,0.019803,-0.064766,-0.017851,0.006567,0.009530,-0.038030,-0.020625,0.014357,...,-0.033494,-0.007155,-0.029845,0.051301,-0.036309,-0.018599,0.011370,-0.017338,0.000541,-0.027752
3,4,-0.017512,0.005507,0.005380,-0.005773,0.005947,0.007069,-0.002258,0.005613,-0.007162,...,0.006748,0.019011,-0.017644,0.003208,-0.008681,-0.000557,-0.001224,0.002740,-0.003596,-0.007374
4,5,0.006412,0.011500,0.032210,-0.021286,-0.014994,0.015637,-0.038729,0.019010,0.031210,...,-0.014761,0.020875,-0.001356,0.029642,-0.027134,-0.029455,0.012438,-0.013643,-0.006869,-0.013737

In [104]:
mdf.to_csv('mvecs1.csv', header=None, index=False)

In [71]:
ratings.head()

   userId  movieId  rating   timestamp
0       1       31     2.5  1260759144
1       1     1029     3.0  1260759179
2       1     1061     3.0  1260759182
3       1     1129     2.0  1260759185
4       1     1172     4.0  1260759205

In [100]:
def cs(a,  b):
    return (a * b).sum()
cs(u[0], v[1128])
# rating 2.0
cs(u[0], v[1171])
# rating 4.0
cs(u[0], v[1128])
# rating 2.0

-0.13078467699227614

In [106]:
result = np.array_split(mdf, 10)

In [108]:
for i in range(len(result)):
    result[i].to_csv('{}.csv'.format(i))
    with open

10