In [1]:
import pandas as pd
import numpy as np

from scipy.sparse import lil_matrix
from scipy.sparse.linalg import svds

In [130]:
A = lil_matrix((671, 45466))

In [131]:
ratings = pd.read_csv('movies/ratings_small.csv')
ratings.describe()

movies = pd.read_csv('movies/movies_metadata.csv')
ratings.rename(columns={'movieId': 'id'}, inplace = True)
ratings['id'] = ratings['id'].astype(str)
movies['id'] = movies['id'].astype(str)
movies = movies[movies.id != '1997-08-20']
movies = movies[movies.id != '2012-09-29']
movies = movies[movies.id != '2012-09-29']
movies = movies[movies.id != '2014-01-01']
movies.id = movies.id.astype(int)

mids = {}
whichMid = {}
for i, mid in enumerate(movies.id):
    mids[mid] = i
    whichMid[i] = mid

In [132]:
for i in range(len(ratings)):
    rate = ratings.iloc[i]
    uid = int(rate['userId'] + 0.1)
    mid = int(rate['id'])
    if mid in mids:
        rating = rate['rating']
        A[uid-1,mids[mid]] = rating - 2.5

In [133]:
u, s, vt = svds(A, k=100) # k is the number of factors

In [134]:
u.shape

(671, 100)

In [135]:
udf = pd.DataFrame(u)
udf['id'] = udf.index + 1
cols = list(udf.columns)
cols.pop()
cols = ['id'] + cols
udf = udf[cols]
udf.head()

,id,0,1,2,3,4,5,6,7,8,...,90,91,92,93,94,95,96,97,98,99
0,1,0.003132,0.003223,0.000934,0.002276,0.002107,-0.003843,-0.002037,-0.005630,-0.004938,...,0.000889,-0.000541,0.000592,-0.002518,-0.002487,0.000798,-0.000222,0.000316,-0.000045,0.000078
1,2,-0.025469,-0.016363,-0.020040,-0.076971,-0.029283,-0.014799,-0.007162,-0.000113,-0.009770,...,0.031648,-0.018828,-0.000833,-0.024229,0.019778,-0.020292,0.049910,-0.057914,-0.029866,-0.023362
2,3,0.017651,0.023091,0.006512,0.011756,-0.040945,0.012291,-0.008340,0.009670,-0.028885,...,-0.015419,-0.046960,-0.005527,0.008788,0.008379,-0.013874,0.017975,0.019594,-0.020816,-0.018695
3,4,-0.018354,-0.043039,0.051559,0.036711,-0.207545,-0.103968,-0.010786,-0.026071,0.016754,...,0.099938,0.045551,-0.023049,-0.058240,-0.114926,0.021572,-0.124594,-0.054443,0.017450,-0.069908
4,5,0.001737,-0.042639,0.081880,-0.001116,0.042636,-0.019872,-0.006335,-0.063438,0.002309,...,0.040674,0.035319,-0.031549,0.011921,0.063513,0.040858,-0.023762,-0.014788,-0.025188,-0.025913

In [136]:
udf.to_csv('uvecs1.csv', header=None, index=False)

In [137]:
v = vt.transpose()
mdf = pd.DataFrame(v)
mdf['id'] = mdf.index
cols = list(mdf.columns)
cols.pop()
cols = ['id'] + cols
mdf = mdf[cols]
mdf.head()

,id,0,1,2,3,4,5,6,7,8,...,90,91,92,93,94,95,96,97,98,99
0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [138]:
mdf.to_csv('mvecs1.csv', header=None, index=False)

In [144]:
print(len(whichMid), len(mids))

45463 45433

In [139]:
def cs(a,  b):
    return (a * b).sum()
# cs(u[0], v[1128])
# # rating 2.0
# cs(u[0], v[1171])
# # rating 4.0

In [163]:
mdf = pd.read_csv('mvecs1.csv', header=None)
result = np.array_split(mdf, 10)

In [164]:
import json

for i in range(len(result)):
    result[i][0] = result[i][0].apply(lambda x: whichMid.get(x))
    result[i] = result[i].dropna(axis=0)
    result[i][0] = result[i][0].astype(int)
    print(result[i].shape)
    
    result[i].to_csv('{}.csv'.format(i + 1), header=None, index=False)
    cfg = {
        'movie_vec': 'ads_worker/movie_vectors/{}.csv'.format(i + 1),
        'movies': [
            {
                'id': j
            } for j in result[i][0]
        ]
    }
    with open('./ads_worker/config/{}.json'.format(i + 1), 'w') as f:
        json.dump(cfg, f)

(4547, 101)
(4547, 101)
(4547, 101)
(4547, 101)
(4547, 101)
(4547, 101)
(4546, 101)
(4546, 101)
(4546, 101)
(4543, 101)

In [17]:
# len(set(ratings['movieId']))

9066

0           862
1          8844
2         15602
3         31357
4         11862
5           949
6         11860
7         45325
8          9091
9           710
10         9087
11        12110
12        21032
13        10858
14         1408
15          524
16         4584
17            5
18         9273
19        11517
20         8012
21         1710
22         9691
23        12665
24          451
25        16420
26         9263
27        17015
28          902
29        37557
          ...
45436     45527
45437    455661
45438    327237
45439     84710
45440     39562
45441     14008
45442     44330
45443     49279
45444     44333
45445     49277
45446     49271
45447     44324
45448    122036
45449     14885
45450     49280
45451    106807
45452    276895
45453    404604
45454    420346
45455     67179
45456     84419
45457    390959
45458    289923
45459    222848
45460     30840
45461    439050
45462    111109
45463     67758
45464    227506
45465    461257
Name: id, Length: 45463, dtype: int64

'[{"id": 28, "name": "Action"}]'

In [172]:
json.loads("[{'id': 28, 'name': 'Action'}]".replace('\'', '"'))

[{'id': 28, 'name': 'Action'}]